# PostgreSQL Settings
PG_IMAGE_TAG=17.5
PG_DB_NAME=planka

# Planka Settings
PLANKA_IMAGE_TAG=1.26.1
PLANKA_PORT=1337
PLANKA_ADMIN_EMAIL=you@example.com
PLANKA_ADMIN_PASSWORD=your_secure_password
PLANKA_ADMIN_NAME=Admin User
PLANKA_ADMIN_USERNAME=admin
PLANKA_DEFAULT_LANGUAGE=en-US
PLANKA_SECRET_KEY=your_secret_key_here

# Traefik configuration
HOST_NAME=planka.yourdomain.com