# Database configuration
PG_IMAGE_TAG=17.5
PG_DB_USER=gitea
PG_DB_PASSWORD=your_secure_password
PG_DB_NAME=gitea

# Gitea user configuration
GITEA_IMAGE_TAG=1.24
GITEA_UID=110
GITEA_GID=111
GITEA_PORT=3000

# Traefik configuration
HOST_NAME=git.yourdomain.com 