# Traefik Configuration
TRAEFIK_IMAGE_TAG=v3.4.1
TRAEFIK_ACME_EMAIL=you@example.com

# Cloudflare Tunnel
CF_IMAGE_TAG=2025.6.0
CF_TUNNEL_TOKEN=your_cloudflare_tunnel_token
CF_DNS_API_TOKEN=dns_token
CF_TZ=Europe/Moscow