# Traefik Configuration
ACME_EMAIL=you@example.com
ROOT_DOMAIN=example.com
CF_DNS_API_TOKEN=dns_token
TRAEFIK_DASHBOARD_CREDENTIALS=user_name:pass

# Cloudflare Tunnel
TUNNEL_TOKEN=your_cloudflare_tunnel_token
TZ=Europe/Moscow 