# Traefik Configuration
LOG_LEVEL=INFO
ACME_EMAIL=you@example.com
ROOT_DOMAIN=example.com

# Cloudflare DNS Challenge Settings
HTTP_TIMEOUT=30
POLLING_INTERVAL=5
PROPAGATION_TIMEOUT=60
TTL=120

# Cloudflare Tunnel
TUNNEL_TOKEN=your_cloudflare_tunnel_token 